/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* banner */
body {
    background-color: blanchedalmond;
}
.logo {
    position: relative;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(94, 92, 92);
    font-size: 1rem;
}
a:hover {
    color: black;
}
/* header */
header {
    position: relative;
    padding: 0 4rem;
}
.navbar {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 15%;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}
.navbar .links {
    display: flex;
    gap: 3rem;
    margin-left: 5%;
}
.navbar .links-icon {
    display: flex;
    margin-left: 30%;
    gap: 2rem;
}

.line ::after {
    content: '';
    border: 1px solid rgb(94, 92, 92);
    transform: rotate(-90);
    margin-left: 50px;
}

/* content banner*/
.content-box {
    position: relative;
    max-width: 1200px;
    height: 480px;
    margin: auto;
    background-color: #c3f1b7;
    border-radius: 15px;
    padding: 30px;
}

.content-title {
    width: 400px;
    font-size: 64px;
    font-weight: 600;
}

.text-box {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.text-box h3 {
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 2px;
}
.line-2 {
    border: 1px solid rgb(94, 92, 92);
}
.input-box {
    position: relative;
}

.input-style {
    width: 350px;
    height: 50px;
    position: relative;
    border: none;
    border-radius: 8px;
    background: #fff;
    margin-top: 25px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
}
.search-btn {
    position: absolute;
    width: 45px;
    height: 45px;
    border: none;
    margin-top: 28px;
    margin-left: -51px;
    background-color: rgb(217, 247, 247);
    border-radius: 12px;
    align-items: center;
}

.tree-img {
    position: absolute;
    top: 8px;
    z-index: 99;
    right: 120px;
    width: 35%;
}
.arrow1 {
    position: absolute;
    right: 50px;
    top: 40px;
    width: 100px;
}
.arrow2 {
    position: absolute;
    right: 650px;
    bottom: 100px;
    width: 200px;
}

.tree-background {
    position: absolute;
    background-color: black;
    border-radius: 200px 200px 0px 200px;
    top: 88px;
    width: 450px;
    height: 450px;
    right: 150px;
    z-index: 10;
}

/* content-product */

.content-product {
    max-width: 1248px;
    margin: auto;
    margin-top: 90px;
    display: flex;
}

.plants-title {
    width: 256px;
    height: 96px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.plants-text {
    margin-top: 12px;
    width: 196px;
    height: 81px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(30, 30, 30, 0.5);
}

.more-btn {
    background-color: #c1dcdc;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    margin-top: 24px;
}

.products-box {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.products-box div {
    cursor: pointer;
}

.product-name {
    margin-top: 12px;
}

.product-price {
    color: rgba(30, 30, 30, 0.5);
    margin-top: 7px;
}

/* about-us-wrapper */

.about-us-wrapper {
    max-width: 1248px;
    margin: auto;
    margin-top: 110px;
}

.title-category {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.about-us-title {
    font-size: 32px;
}

.title-category p {
    color: rgba(30, 30, 30, 0.5);
    margin-top: 12px;
}

.about-items-box {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 165px;
}

.about-items-box div {
    text-align: center;
}

.icon-wrapper {
    position: relative;
    background-color: #c1dcdc;
    width: 96px;
    height: 96px;
    margin: 0 auto;
    border-radius: 50%;
}

.items-icon-img {
    position: absolute;
    top: 28px;
    right: 28px;
}

.icon-title {
    margin-top: 24px;
    margin-bottom: 12px;
}

.icon-text {
    color: rgba(30, 30, 30, 0.5);
}

/* categories-wrapper */

.categories-wrapper {
    margin-top: 96px;
    background-color: #c1dcdc;
}

.categories-box {
    max-width: 1440px;
    margin: 0 auto;
}

.explore-wrapper {
    margin-top: 96px;
    background-color: #c1dcdc;
    height: 841px;
}

.explore-wrapper {
    position: relative;
}

.plant-box01 {
    position: absolute;
    top: -50px;
    left: 96px;
}

.plant-box01 h4 {
    text-align: center;
    margin-top: 12px;
}

.plant-box02 {
    text-align: center;
    padding-top: 48px;
    max-width: 352px;
    margin: 0 auto;
}

.plant-box02 h4 {
    text-align: center;
    margin: 12px 0;
}

.plant-box02 p {
    color: rgba(30, 30, 30, 0.5);
}

.explore-btn {
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 12px;
    border: none;
}

.plant-box03 {
    position: absolute;
    top: -50px;
    right: 96px;
}

.plant-box03 h4 {
    text-align: center;
    margin-top: 12px;
}

/* case-box */

.case-box {
    margin-top: 96px;
}

.case-title {
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: 700;
    width: 457px;
    margin-left: 96px;
}

/* swiper
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 800px;
    height: 330px;
    background-color: #c1dcdc;
    padding: 48px 48px 0px 48px;
    margin-left: 96px;
    border-radius: 12px;
}

.swiper-slide img {
    display: inline-block;
    object-fit: cover;
    margin-left: -40px;
}

.swiper-box {
    margin-top: 96px;
}

.detail-box {
    display: flex;
    justify-content: space-between;
}

.customers-info {
    margin-top: 54px;
    margin-left: -440px;
}

.profession {
    color: rgba(30, 30, 30, 0.5);
    font-size: 12px;
    margin-top: 5px;
}

.score-box {
    margin-top: 54px;
    margin-right: 10px;
}

.swiper-pagination {
    position: absolute;
    top: -20;
} */

/* footer */
footer {
    margin-top: 230px;
    background-color: #c1dcdc;
    height: 400px;
    padding: 48px 97px;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    font-family: 'Quella';
}

.footer-text {
    margin-top: 24px;
    width: 189px;
    height: 54px;
    color: rgba(30, 30, 30, 0.5);
    font-size: 18px;
    line-height: 27px;
}

.community-icon {
    display: flex;
    gap: 24px;
    margin-top: 15px;
}

.a-icon {
    width: 48px;
    height: 35px;
    border: 1px solid rgba(30, 30, 30, 0.5);
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
}

.copyright {
    color: rgba(30, 30, 30, 0.5);
    margin-top: 98px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-items h5 {
    font-weight: 700;
    color: #1e1e1e;
}

.footer-items a {
    font-weight: 400;
    color: rgba(30, 30, 30, 0.5);
}
